header{
  height: 75px;
  background: PALETURQUOISE;
  text-align: center;
  Color: gray;
}

body{
  background: grey;
}

img{
  height: 250px;
  border: 4px solid PALETURQUOISE;
  float:right;
  margin: 1% 25%;
 }
h4{
  color:PALETURQUOISE
}
p{
  font-family: arial;
  color: PALETURQUOISE;
}
